<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DBConnectionString" value="Data Source=DBSERV3;Initial Catalog=Sarath_HIETestServiceDB;User ID=sa;Password=!QAZ2wsx" />
    <add key="SSNRootID" value="2.16.840.1.113883.4.1"/>
    <add key="HIEMPIRootValue" value="2.16.840.1.113883.3.189"/>
    <add key="HIEPrimaryRootAssigningAuthorityName" value="KEYHIE"/>
    <add key="IPHRRootID" value="2.16.840.1.113883.3.189.1.227"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="PatientServiceB"
               sendTimeout="00:01:00"
               maxReceivedMessageSize="2147483647"
               maxBufferSize="2147483647"
               maxBufferPoolSize="2147483647">

          <readerQuotas maxDepth="32"
                  maxArrayLength="2147483647"
                  maxStringContentLength="2147483647"/>
          <!--<security mode="Transport" />-->
        </binding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">          
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="HIEService.HIEService" behaviorConfiguration="ServiceBehaviour" >
        <endpoint address="" contract="HIEService.IHIEService" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="PatientServiceB"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
